{
  "presets": [
    ["@babel/preset-env", {
      "targets": [
        "last 2 versions",
        "safari >= 7",
      ],
      "useBuiltIns": "entry",
      "corejs": 3,
      "modules": false
    }],
  ]
}
