main {
    margin: 0 5vw;
}

/* iPhoneで見た時に、ズームされるのを防ぐ */
main input[type="text"] {
    font-size: 17px;
}

/* iPhoneで見た時に、ズームされるのを防ぐ */
main textArea {
    font-size: 17px;
}

/* iPhoneで見た時に、ズームされるのを防ぐ */
main {
    touch-action: manipulation;
}

.header__bar {
    border-bottom: solid 1px #000000;

    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    -webkit-justify-content: flex-end; /* Safari */
    justify-content:         flex-end;
}

header {
    margin: 0 5vw;
}

header ul {
    margin: 5px 0;

    list-style-type: none;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    -webkit-justify-content: flex-end; /* Safari */
    justify-content:         flex-end;
}

header ul li {
    margin-right: 1.5vw;
}

header ul li:last-child {
    margin-right: 0;
}

header .logo__img--rectangle {
    height: auto;
    width: auto;
    max-height: 156px;
    max-width: 100%;
    margin: 4px;
}


@media screen and (max-width:600px) {
    /* 画面サイズが600px以下の場合に適用 */
    body {
        font-size: 5.0vw;
    }

    h1 {
        font-size: 8.0vw
    }

    h2 {
        font-size: 6.0vw
    }

    /* ulのインデント */
    main ul {
        padding-left: 6.0vw;
    }
}

.fontCheck {
    font-family: 'Share Tech Mono', monospace;
    font-size: 3em;
    margin: 1.0vh 0;
}

.scramblePanel {
    /* min-height: 5ex; */
    /* max-height: 5ex; */
}

.bldTimerTemplateMain:focus {
    outline: none;
}
