main {
    margin: 0 5vw;
}

header {
    border-bottom: solid 0.1vw #000000;
}

header ul {
    list-style-type: none;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    -webkit-justify-content: flex-end; /* Safari */
    justify-content:         flex-end;
}

header ul li {
    margin-right: 1.5vw;
}

/* header ul li:last-child { */
/*     margin-right: 0; */
/* } */


@media screen and (max-width:600px) {
    /* 画面サイズが600px以下の場合に適用 */
    body {
        font-size: 1.5vw;
    }

    h1 {
        font-size: 3.0vw
    }

    h2 {
        font-size: 2.2vw
    }

}
