.extendElevation__face {
    width: 24vw;
    height: 24vw;
    padding: 0;
    margin: 0.4vw;

    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;
    -webkit-justify-content: space-around; /* Safari */
    justify-content:         space-around;

}

.extendElevation__invisible {
    /* 見えない線を付けないとズレる */
    border: solid 0.4vw #ffffff;
}
.extendElevation__white {
    /* 見えない線を付けないとズレる */
    border: solid 0.4vw #ffffff;
}


.extendElevation__orange {
    /* 基準面に関する誤解を招かないようにするため、色は付けない */
    /* border: solid 0.4vw #ffbf00; */
    border: solid 0.4vw #ffffff;
}

.extendElevation__orange .center {
    /* 基準面に関する誤解を招かないようにするため、色は付けない */
    /* background-color: #ffbf00; */
}


.extendElevation__green {
    /* 基準面に関する誤解を招かないようにするため、色は付けない */
    /* border: solid 0.4vw #00ff00; */
}

.extendElevation__green .center {
    /* 基準面に関する誤解を招かないようにするため、色は付けない */
    /* background-color: #00ff00; */
}

.extendElevation__red {
    /* 基準面に関する誤解を招かないようにするため、色は付けない */
    /* border: solid 0.4vw #ff0000; */
    border: solid 0.4vw #ffffff;
}

.extendElevation__red .center {
    /* 基準面に関する誤解を招かないようにするため、色は付けない */
    /* background-color: #ff0000; */
}

.extendElevation__blue {
    /* 基準面に関する誤解を招かないようにするため、色は付けない */
    /* border: solid 0.4vw #0000ff; */
    border: solid 0.4vw #ffffff;
}

.extendElevation__blue .center {
    /* 基準面に関する誤解を招かないようにするため、色は付けない */
    /* background-color: #0000ff; */
}

.extendElevation__yellow {
    /* 基準面に関する誤解を招かないようにするため、色は付けない */
    /* border: solid 0.4vw #ffff00; */
    border: solid 0.4vw #ffffff;
}

.extendElevation__yellow .center {
    /* 基準面に関する誤解を招かないようにするため、色は付けない */
    /* background-color: #ffff00; */
}


.piece {
    width: 25%;
    height: 25%;
    margin: 0.1vw;
    padding: 0;
    border: solid 0.1vw #bfbfbf;
    font-size: 2vw;
    text-align: center;
}

.extendElevation__group {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    -webkit-justify-content: flex-start; /* Safari */
    justify-content:         flex-start;
}

img {
    width: 90%;
    border: solid 1px #000000;
}

main input[type="button"] {
    font-size: 25px;
}
